<form action="/reviews/add" method="POST">

    Course Number: <input type="text" name="courseNumber" value="">
    Course Name: <input type="text" name="courseName" value="">
    
    <select name="semester" id="semester">
        <option value="Spring">Spring</option>
        <option value="Fall">Fall</option>
    </select>

    Year: <input type="number" name="year" value="">
    Professor: <input type="text" name="professor" value="">
    Review: <input type="text" name="review" value="">
    <input type="submit" name="" value="Add Review">
</form>