<div class="editDiv">
    <form method="GET" action="">
        <input class="editInput" type="text" , name="editor" placeholder="Enter your message...">
        <textarea class="editOutput" id="story" name="story" rows="5" cols="33">{{replacedList}}</textarea>
        <div><input class="editSubmit" type="submit" value="submit"></div>
    </form>

</div>